@model IEnumerable<WEB_053501_Tatsiana_Shurko.Entities.Book>

@{
    ViewData["Title"] = "View";
}
@{
    // Получение текущего адреса
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}
<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
@foreach (var item in Model) {
      <div class="col-sm-4" style="margin-bottom:15px;">
        <div class="card">
          <div class="card-body" style="text-align:center;">
              <img src="@item.ImagePath" style="height:100px; width:70px;"></img>
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Discription</p>
                 <h3 class="card-subtitle badge">@item.Price</h3>
                    <p class="mt-2">
                        <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl" class="btn btn-primary">
                            <i class="fa fa-shopping-cart"></i> To Cart
                        </a>
                    </p>
          </div>
        </div>
      </div>
}
</div>