@model WEB_053501_Tatsiana_Shurko.Models.Book
@{
    ViewData["Title"] = "Details";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    var domain = request.Host; 
}
<div>
    <hr />
      <img src="https://@domain/@Model.ImagePath" style="height:200px; width:140px;float: right;" />        
    <dl class="row">
  
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square fa-2x" ></i></a> |
    <a asp-action="Index"><i class="bi bi-arrow-left-circle-fill fa-2x"></i></a>
</div>
