@model IEnumerable<WEB_053501_Tatsiana_Shurko.Models.Book>

@{
    ViewData["Title"] = "Index";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    var domain = request.Host; 
}
<div style="margin-top:3%;">
        <a type="button" class="btn btn-primary" asp-action="Create" asp-controller="Admin">
            <i class="bi bi-plus-circle-fill"></i> Create New
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                        <img src="https://@domain/@item.ImagePath" style="height:100px; width:70px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square fa-2x" ></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle fa-2x"  style="color:green"></i></a> |
                         <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash fa-2x" style="color:red"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
